body {
  font-family: "Relaway";
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
}
.header-btn-modal {
}
.header-nav {
  line-height: 1.5;
  font-family: inherit;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 400;
}
.header-list {
  background-color: bisque;
  list-style: none;
  display: flex;
}
.header-item {
  padding: 0 20px;
}
.header-link {
  text-decoration: none;
  color: black;
}
.header-link:focus,
.header-link:hover {
  color: darkblue;
}

.header-nav-link {
  justify-content: flex-end;
  display: flex;
  padding-right: 120px;
}
.header-tel {
  font-weight: 400;
  display: flex;
  font-size: 15px;
  font-family: inherit;
  text-decoration: none;
}
.header-btn {
  display: flex;
  font-size: 15px;
  line-height: 22.5px;
  border-style: none;
  background-color: bisque;
  text-decoration: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(83, 80, 87, 0.918);
}
.slider {
  width: 500px;
  height: 450px;
}
/*------------ Modal ------------*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 600px;
  height: 400px; */
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px;
  overflow: hidden;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.button-close-modal {
  position: absolute;
  right: 20px;
  top: 20px;
  background: transparent;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 50%;
}
/* .btn {
  font-weight: 400;
  display: flex;
  font-size: 15px;
  line-height: 22.5px;
  font-family: inherit;
  border-style: none;
  background-color: bisque;
  text-decoration: none;
} */
/* .btn:focus,
.btn:hover {
  color: darkblue;
} */
.modal-title {
  margin-bottom: 20px;
  color: #404b4c;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
}
.modal-search-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: inherit;
}
.modal-label-search {
  cursor: pointer;
  box-sizing: inherit;
}
.span-modal-city {
  position: absolute;
  top: -8px;
  left: 12px;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-black);
  font-weight: bold;
  background: white;

  box-sizing: inherit;
}
.input-wrapper {
  position: relative;
  margin-bottom: 20px;
}
.modal-input {
  border: 1px solid grey;
  box-sizing: inherit;
  border-radius: 8px;
  height: 40px;
  width: 280px;
  font-size: 14px;
  line-height: 16px;
}
.modal-list-city {
  height: 400px;
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(15, 1fr);
  overflow-y: scroll;
}
.modal-text {
  box-sizing: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.modal-help-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 14px;
  line-height: 16px;
}
/* ----------PRODUCTS----------- */
.products-list {
  display: inline-flex;
  gap: 32px;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.products-list .products-list-item {
  display: block;
  width: 250px;
  height: 350px;
  border: 1px solid #404b4c;
  padding: 5px;
  border-style: calc((100 - 40) / 4);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.products-img-active {
  animation-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.products-img {
  width: 100%;
  height: 50%;
  padding-bottom: 20px;
}
.products-img:hover,
.products-img:focus {
  transform: scale(1.03);
}

.products-list-price {
  padding-bottom: 20px;
}

/* #123 */

.feedback-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 12px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.feedback-form button {
  padding: 8px 12px;
  font: inherit;
  cursor: pointer;
  width: 35%;
  height: 35%;
  margin: 0 auto;
}
.feedback-form button:hover,
.feedback-form button:focus {
  background-color: blueviolet;
  color: beige;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
input {
  height: 30px;
}

/* .box {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.box {
  width: 50px;
  height: 50px;
  border: 2px dashed red;
  margin: 10px;
}

.number-container {
  display: flex;
  flex-wrap: wrap;
}
.number {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  margin: 5px;
}
.even {
  background-color: yellow;
}
.odd {
  background-color: green;
}

.film-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  margin-bottom: 50px;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  border-radius: 4px;
  font-size: inherit;
  border: solid 1px black;
  padding: 5px 10px;
  background-color: green;
  color: white;
  max-width: 200px;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

section {
  padding: 50px 0;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* components */

.task-title {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 100px;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0px 40px;
}

.module-title {
  text-align: center;
}
/* accordion */
.accordion-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}
.accordion-list-item {
  position: relative;
  transition: all 500ms linear;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active,
.accordion:hover {
  background-color: #ccc;
}
.panel {
  background-color: white;
  display: none;
  padding: 20px;
  overflow: hidden;
}
.panel.active {
  display: block;
}
/* pagination */

.pagination {
  display: flex;
  justify-content: center;
  border-top: 1px solid #eee;
  margin-top: 1em;
  padding-top: 0.5em;
  list-style: none;
}

.pagination__item {
  display: block;
  margin: 0 0.25rem;
  padding: 0.5em 1em;
  border: 1px solid #999;
  border-radius: 0.5em;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
}

.pagination__item.active {
  background-color: #bfff48;
  color: #000000;
}

.btn-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.btn-wrapper button {
  background-color: #20085d;
  color: #fff;
  border: none;
  outline: none;
  padding: 8px 40px;
  border-radius: 4px;
}

.btn-wrapper button:hover {
  background-color: #6134d4;
}
.btn-wrapper button.red {
  background-color: red;
}

.btn-wrapper button.tomato {
  background-color: tomato;
}
.btn-wrapper button.orange {
  background-color: orange;
}
.btn-wrapper button.green {
  background-color: green;
}
.btn-wrapper button.yellow {
  background-color: yellow;
}
.btn-wrapper button.blue {
  background-color: blue;
}
/* -------------------------------------------------- */

.flex-container {
  border: 2px dashed #2a2a2a;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 50%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transition-property: transform;
}

.flex-container:hover .circle {
  transform: scale(1.5);
}

.circle:nth-child(1) {
  background-color: orange;

  transition-duration: 500ms;
}

.circle:nth-child(2) {
  background-color: #03a9f4;

  transition-duration: 1500ms;
}

.circle:nth-child(3) {
  background-color: palevioletred;

  transition-duration: 3000ms;
}
